body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(87, 202, 231, 0.322);
}

code {
  font-family: "Open Sans", sans-serif;
}
