.InfoContainer {
  text-align: center;
  margin: auto;
  min-height: 100px;
  height: auto;
  width: 70%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.4);
  background-color: #064461;
}

.InfoContainer h1 {
  color: #b31483;
}

.InfoContainer h3,
.InfoContainer p {
  color: #fff;
}

.InfoContainer a {
  color: #b31483;
  text-decoration: none;
}

.InfoContainer ul {
  padding: 0;
}

.InfoContainer li {
  list-style: none;
}
